<h ><strong>PUBLISHER PAGE</strong></h>
<br>
<body>
<form action="/publishers" method="POST">
  <p><i>Edit or Publish : </i></p>
  Publisher ID : <input type="text" name="publisherid">
  @
  <select name = "dropdown">
    <option value = "1">Dad Jokes</option>
    <option value = "2">Random advice</option>
    <option value = "3">Inspirational Quotes</option>
  </select>
  <input type = "submit" name = "submit" value = "advertise">
  OR
  <input type = "submit" name = "submit" value = "deadvertise">
   &
  <input type = "submit" name = "submit" value = "publish" />
</form>

<br>
<p><strong>{{msg}}</strong></p>
<br>
<form action="/">
    <button class="button" >Log out</button>
</form>

